<form method="POST">
    <div class="field">

        <label class="label">Ime</label>
            <div class="control">
                <input class="input" type="text" placeholder="npr. Milica" name="lastnik" value="{{lastnik}}">
            </div>

        <label class="label">mail</label>
            <div class="control">
                <input class="input" type="number" placeholder="npr. 5000000" name="cena" value="{{cena}}">
            </div>

        <label class="label">vrsta</label>

            <select name="vrsta" id="vrsta">
              <option value="apartment">apartment</option>
              <option value="house">house</option>
              <option value="land">land</option>
            </select>

        <label class="label">Lokacija</label>
            <div class="control">
                <input class="input" type="text" placeholder="npr. lokacija" name="lokacija" value="{{lokacija}}">
            </div>

        

        % if napaka:
        <p class="help is-danger">{{napaka}}</p>
        % end
    </div>

    <div class="field">
        <div class="control">
            <button class="button">Dodaj!</button>
        </div>
    </div>
</form>