<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>dodaj kupca</title>
</head>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Neprimicninski agenti</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <form class="d-flex" action="/" method="GET">
                    <button class="btn btn-outline-success">Odjava</button>
                </form>
                
            </div>
            <div class="d-flex ml-auto">
                % if uporabnik_id == 0:
                    <a class="btn btn-outline-primary mr-2" href="/nepremicnine">Nepremicnine</a>
                    <a class="btn btn-outline-primary mr-2" href="/agenti">Agenti</a>
                    <a class="btn btn-outline-primary mr-2" href="/kupci_boss">Kupci Boss</a>
                % elif uporabnik_id == 1:
                    <a class="btn btn-outline-primary mr-2" href="/nepremicnine">Nepremicnine</a>
                    <a class="btn btn-outline-primary mr-2" href="/kupci">Kupci</a>
                % end
            </div>
        </div>
    </nav>
</header>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title" class="text-center" style="margin-top: 70px;">
                Pozdravljen {{ime_agent}} <br>
                Dodaj Kupca</h1>
            <form method="POST" action="/dodaj-kupca">
                <div class="field">
                    <label class="label">Ime</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="npr. Janez Novak" name="ime" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Kontakt</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="npr. janez@example.com" name="kontakt" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Budget</label>
                    <div class="control">
                        <input class="input" type="number" placeholder="npr. 500000" name="budget" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Lokacija</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="npr. Ljubljana" name="lokacija" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Vrsta</label>
                    <div class="control">
                        <div class="select">
                            <select name="vrsta" required>
                                <option value="apartment">Apartment</option>
                                <option value="house">House</option>
                                <option value="land">Land</option>
                            </select>
                        </div>
                    </div>
                </div>

                % if napaka:
                <div class="field">
                    <p class="help is-danger">{{napaka}}</p>
                </div>
                % end

                <div class="field">
                    <div class="control">
                        <button class="button is-primary">Dodaj kupca</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>
</html>
