% rebase('osnova.html')
<h2>Dodaj agenta</h2>

<form method="POST">
    <div class="field">
        <label class="label">Ime</label>
            <div class="control">
                <input class="input" type="text" placeholder="npr. Milica" name="ime" value="{{ime}}">
            </div>

        <label class="label">mail</label>
            <div class="control">
                <input class="input" type="text" placeholder="npr. mail" name="mail" value="{{mail}}">
            </div>

        <label class="label">Geslo</label>
            <div class="control">
                <input class="input" type="text" placeholder="npr. Geslo" name="geslo" value="{{geslo}}">
            </div>

        

        % if napaka:
        <p class="help is-danger">{{napaka}}</p>
        % end
    </div>

    <div class="field">
        <div class="control">
            <button class="button">Dodaj!</button>
        </div>
    </div>
</form>